<!DOCTYPE html>
<html ng-app = "pokermon">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Pokermon</title>
		<!-- AngularJS -->
		<script src = "{{ url_for('static',filename='angular/angular.min.js') }}"></script>
		<script src = "{{ url_for('static',filename='angular/angular-route.min.js') }}"></script>
		<!-- jQuery -->
		<script src="{{ url_for('static',filename='jquery/jquery-2.2.4.min.js') }}"></script>
		<!-- Bootstrap -->
		<script src = "{{ url_for('static',filename='bootstrap/bootstrap.min.js') }}"></script>
		<link href = "{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href = "{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

		<script src ="{{ url_for('static',filename='js/main.js') }}"></script>
		<link href = "{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
	</head>
	<body class="text-center">
		<header class="header">
			<nav class="navbar">
				{% if login %}
					<div>
						<a href="#profile"><img src="{{ url_for('static', filename='img/unknown_user.jpg') }}" class="img-circle navbar-left header-avatar"></a>
						<a class="navbar-left header-username text-color" href="#profile">{{ username }}</a>
						<a href="logout" class="navbar-left btn button button-logout">Sign out</a>
					</div>
					<div class="navbar-right header-chips">
						<img src="{{ url_for('static', filename='img/chips.png') }}" class="header-chips-img">
						<a class="header-chips-number text-color">{{ chips }}</a>
					</div>
				{% endif %}
				<div class="container">
					<a href="#/" class="text-color header-pokermon">Pokermon</a>
				</div>
			</nav>
		</header>
		<div ng-view></div>
		<footer class="navbar navbar-fixed-bottom">
			<small>Created by Kosma Grochowski, Tymoteusz Hartman & Michał Kortała. Copyright 2016</small>
		</footer>
	</body>
</html>
