body {
	background-color: black;
	padding-bottom: 70px;
}

h1 {
	font-size: 94px;
}

h2 {
	font-size: 64px;
}

p {
	font-size: 18px;
}

h1, h2, h3, small {
	color: gray;
}

.text-color, a:hover, a:focus {
	color: #404040;
}

.menu-item {
	border: 35px solid black;
	border-radius: 50px;
	padding: 40px 70px;
	background-color: #D55;
}

.menu-item {
	border: 35px solid black;
	border-radius: 50px;
	padding: 40px 70px;
	background-color: #D55;
}

.page-title {
	margin: 50px;
}


.profile-avatar {
	margin: 20px;
	width: 120px;
	height: 120px;
}

.button, .button:focus {
	background-color: #D55;
	border: 2px solid white;
	color: white;
    transition-duration: 0.4s;
}

.button:hover {
	background-color: white;
	color: #D55;
}

.button-logout {
	margin: 25px;
}

.header {
	background-color: #D55;
	line-height: 80px;
}

.header-pokermon {
	font-size: 80px;
	height: 0px;
}

.header-pokermon:hover, .header-pokermon:focus {
	text-decoration: none;
}

.header-avatar {
	margin: 5px;
	width: 80px;
	height: 80px;
}

.header-username {
	margin-left: 20px;
	font-size: 32px;
}

.header-chips {
	margin: 0px;
	padding-right: 5px;
}

.header-chips-number {
	margin-right: 20px;
	font-size: 32px;
}

.header-chips-number:hover {
	text-decoration: none;
}

.header-chips-img {
	vertical-align: top;
	margin: 25px;
	margin-right: 5px !important;
	width: 30px;
	height: 30px;
}

.navbar {
	height: 92px;
}

.form {
	padding: 20px;
	border-radius: 10px;
	margin: 100px;
	background-color: #D55;
}

.form input[type=text], .form input[type=password], .form input[type=email] {
	width: 90%;
	margin: 5px;
	padding: 12px 20px;
	background-color: #D55;
	border: 5px solid gray;
	border-radius: 10px;
}

.lobby-container {
	border: 5px solid gray;
	height: 505px;
	padding: 0px;
}

.table-list {
	list-style: none;
	padding: 0px;
	height: inherit;
	overflow: auto;
}

.table-list li {
	background-color: #D55;
	border: 1px solid gray;
}

.table-list li:hover {
	background-color: #D66;
}

.table-list li:active, .table-list li.active {
	background-color: #D44;
}

.table-list li a {
	color: black;
	text-decoration: none;
}

.table-preview {
	height: 396px;
	background-color: #D55;
}

.table-preview-buttons {
	background-color: #D55;
	height: 97px;
}

.button-action {
	margin: 2px;
	margin-top: 10px;
	background-color: gray;
	border: 2px solid white;
	color: white;
    transition-duration: 0.4s;
}

.button-action:hover {
	background-color: white;
	color: gray;
}

.popover {
    background: gray;
}

.popover.top .arrow:after {
    border-top-color: gray;
}

.profile-type {
	padding-right: 20px;
	font-size: 50px;
}

.profile-data {
	float: left;
	font-size: 24px;
	line-height: 60px;
}

.profile-option {
	margin-left: 10px;
	font-size: 24px;
	color: #333;
}

.profile-option:hover {
	margin-left: 10px;
	font-size: 24px;
	color: white;
}

.panel {
	background-color: #D55;
}
