<div class="container">
	<div class="page-title">
		<h2>Account active</h2>
	</div>

	<div class="menu-item" style="font-size:20px;">
		<p>Your account is now active.</p>
		<br/>
		<a href="#/" class="btn button">Main page</a>
	</div>
</div>
