<div class="container">
	<div class="page-title">
		<h2>E-mail changed</h2>
	</div>

	<div class="menu-item" style="font-size:20px;">
		<p>Your e-mail address was successfully updated.</p>
		<br/>
		<a href="#/" class="btn button">Main page</a>
	</div>
</div>
