<div class="container">
	<div class="page-title">
		<h2>Password recovery</h2>
	</div>

	<div class="menu-item" style="font-size:14px;">
		<div class="alert alert-info" id="alert-recovery-email-sent">
			<strong>Info!</strong> Confirmation e-mail has been sent.
		</div>

		<p style="font-size:24px;">Choose the method of password recovery:</p>

		<form class="form" style="margin:0px;">
			<div class="panel-group" id="form">
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<label><input type="radio" name="option" value="username" data-toggle="collapse" data-target="#username" data-parent="#form"/> Username</label>
				  </h4>
				</div>
				<div id="username" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="text" id="inputUsername" placeholder="Username"/>
					</div>
				</div>
			  </div>
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<label><input type="radio" name="option" value="email" data-toggle="collapse" data-target="#email" data-parent="#form"/> E-mail</label>
				  </h4>
				</div>
				<div id="email" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="email" id="inputEmail" placeholder="E-mail"/>
					</div>
				</div>
			  </div>
			</div>
			<button class="btn button" id="recoverPassword">OK</button>
		</form>

		<hr/>
		<a href="#/" class="btn button">Main page</a>
	</div>
</div>
