<div class="container">
	<div class="page-title">
		<h2>Lobby</h2>
	</div>

	<div ng-app="pokermon">
		<div class="container lobby-container">
			<div class="col-sm-4" style="padding:0px; border-right:5px solid gray; height:100%;">
				<ul class="table-list">
					<li ng-repeat="table in tables" ng-click="setCurrentTable(table.id)">
							<div class="container-fluid">
								<a style="float:left; font-size:12px;">Name</a>
								<a style="float:right; font-size:12px;">Players</a>
							</div>
							<div class="container-fluid">
								<a style="float:left; font-size:26px;">Table #{{ table.id }}</a>
								<a style="float:right; font-size:26px;">{{ table.players.length }}/9</a>
							</div>
							<div class="container-fluid">
								<a style="float:left; font-size:10px;">Stakes</a>
								<a style="float:right; font-size:10px;">Buy-in</a>
							</div>
							<div class="container-fluid">
								<a style="float:left; font-size:20px;">2$/4$</a>
								<a style="float:right; font-size:20px;">20$</a>
							</div>							
					</li>
				</ul>
			</div>
			<div class="col-sm-8" style="padding:0px;">
				<div class="table-preview" style="background-color:#D55">
					<h3 style="color:black; margin:0px; padding:20px;">Table #{{ currentTable[0] }}</h3>
					<svg style="width:100%; height:360px;">
						<ellipse cx="386" cy="149" rx="305" ry="81" style="fill:#006400; stroke:gray; stroke-width:3px"/>
						<defs>
							<pattern id="avatar" x="0%" y="0%" height="100%" width="100%" viewBox="0 0 512 512">
								<image x="0%" y="0%" width="512" height="512" xlink:href="assets/img/unknown_user.jpg"/>
							</pattern>
							<pattern id="chips" x="0%" y="0%" height="100%" width="100%" viewBox="0 0 512 512">
								<image x="0%" y="0%" width="512" height="512" xlink:href="assets/img/chips.png"/>
							</pattern>
						</defs>

						<!-- Player #1 -->
						<g ng-if="seat1 != -1">
							<circle cx="675" cy="203" r="34" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
							<text x="719" y="197">{{ currentTable[1][seat1][0] }}</text>
							<text x="729" y="214">{{ currentTable[1][seat1][1] }}</text>
							<circle cx="722" cy="210" r="7" style="fill:url(#chips);"/>
						</g>
						<g ng-if="seat1 == -1">
							<circle cx="675" cy="203" r="34" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
						</g>
			
						<!-- Player #2 -->
						<g ng-if="seat2 != -1">
							<circle cx="536" cy="237" r="34" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
							<text x="580" y="231">{{ currentTable[1][seat2][0] }}</text>
							<text x="590" y="247">{{ currentTable[1][seat2][1] }}</text>
							<circle cx="583" cy="244" r="7" style="fill:url(#chips);"/>
						</g>
						<g ng-if="seat2 == -1">
							<circle cx="536" cy="237" r="34" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
						</g>

						<!-- Player #3 -->
						<g ng-if="seat3 != -1">
							<circle cx="386" cy="254" r="34" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
							<text x="431" y="247">{{ currentTable[1][seat3][0] }}</text>
							<text x="441" y="264">{{ currentTable[1][seat3][1] }}</text>
							<circle cx="434" cy="261" r="7" style="fill:url(#chips);"/>
						</g>
						<g ng-if="seat3 == -1">
							<circle cx="386" cy="254" r="34" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
						</g>

						<!-- Player #4 -->
						<g ng-if="seat4 != -1">
							<circle cx="237" cy="237" r="34" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
							<text x="163" y="231">{{ currentTable[1][seat4][0] }}</text>
							<text x="173" y="247">{{ currentTable[1][seat4][1] }}</text>
							<circle cx="166" cy="244" r="7" style="fill:url(#chips);"/>
						</g>
						<g ng-if="seat4 == -1">
							<circle cx="237" cy="237" r="34" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
						</g>

						<!-- Player #5 -->
						<g ng-if="seat5 != -1">
							<circle cx="98" cy="203" r="34" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
							<text x="24" y="197">{{ currentTable[1][seat5][0] }}</text>
							<text x="34" y="214">{{ currentTable[1][seat5][1] }}</text>
							<circle cx="27" cy="210" r="7" style="fill:url(#chips);"/>
						</g>
						<g ng-if="seat5 == -1">
							<circle cx="98" cy="203" r="34" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
						</g>

						<!-- Player #6 -->
						<g ng-if="seat6 != -1">
							<circle cx="156" cy="71" r="34" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
							<text x="81" y="64">{{ currentTable[1][seat6][0] }}</text>
							<text x="92" y="81">{{ currentTable[1][seat6][1] }}</text>
							<circle cx="85" cy="78" r="7" style="fill:url(#chips);"/>
						</g>
						<g ng-if="seat6 == -1">
							<circle cx="156" cy="71" r="34" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
						</g>

						<!-- Player #7 -->
						<g ng-if="seat7 != -1">
							<circle cx="319" cy="44" r="34" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
							<text x="244" y="37">{{ currentTable[1][seat7][0] }}</text>
							<text x="254" y="54">{{ currentTable[1][seat7][1] }}</text>
							<circle cx="247" cy="51" r="7" style="fill:url(#chips);"/>
						</g>
						<g ng-if="seat7 == -1">
							<circle cx="319" cy="44" r="34" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
						</g>

						<!-- Player #8 -->
						<g ng-if="seat8 != -1">
							<circle cx="454" cy="44" r="34" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
							<text x="498" y="37">{{ currentTable[1][seat8][0] }}</text>
							<text x="509" y="54">{{ currentTable[1][seat8][1] }}</text>
							<circle cx="502" cy="51" r="7" style="fill:url(#chips);"/>
						</g>
						<g ng-if="seat8 == -1">
							<circle cx="454" cy="44" r="34" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
						</g>

						<!-- Player #9 -->
						<g ng-if="seat9 != -1">
							<circle cx="617" cy="71" r="34" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
							<text x="661" y="64">{{ currentTable[1][seat9][0] }}</text>
							<text x="671" y="81">{{ currentTable[1][seat9][1] }}</text>
							<circle cx="664" cy="78" r="7" style="fill:url(#chips);"/>
						</g>
						<g ng-if="seat9 == -1">
							<circle cx="617" cy="71" r="34" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
						</g>

						<!-- Table cards -->
						<image xlink:href="assets/img/cards/back.png" x="237" y="111" width="44px" height="68px"/>
						<g ng-if="tablecards.length >= 3">
							<image xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[0]) }}" x="288" y="111" width="44px" height="68px"/>
							<image xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[1]) }}" x="339" y="111" width="44px" height="68px"/>
							<image xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[2]) }}" x="390" y="111" width="44px" height="68px"/>
						</g>
						<image ng-if="tablecards.length >= 4" xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[3]) }}" x="441" y="111" width="44px" height="68px"/>
						<image ng-if="tablecards.length == 5" xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[4]) }}" x="492" y="111" width="44px" height="68px"/>
					</svg>
					<br/>
				</div>
				<hr style="margin:0px; border: 1px solid gray;"/>
				<div class="table-preview-buttons">
					<a href="/table/{{currentTable.id}}" class="btn button" style="margin:30px; margin-left:100px; float:left;">Select</a>
					<a href="#menu" class="btn button" style="margin:30px; margin-right:100px; float:right;">Menu</a>
				</div>
			</div>
		</div>
	</div>
</div>
