<div class="container">
	<div class="page-title">
		<h2>Pokermon</h2>
		<h3>a web-based Texas Hold 'em game</h3>
	</div>

	<div class="form">
		<form action="/login" method="post" name="signInForm" ng-submit="signInCtrl.logincheck()">
			<input type="text" placeholder="Login" title="Login" name="login" />
			<input type="password" placeholder="Password" title="Password" name="password"/>
			<input type="submit" value="Sign in" class="btn button" style="margin:20px;"/>
		</form>
		<a href="#forgotPassword" style="color:white;">Forgot your password?</a>
		<hr/>
		<h3 style="color:#333; margin:20px; margin-top:50px;">Don't have an account?</h3>
		<a href="#signUp" class="btn button">Sign up</a><br/>
	</div>
</div>
