<div class="container">
	<div class="page-title">	
		<h2>Main menu</h2>
	</div>
	<div class="row">
		<div class="menu-item col-md-6">
			<p>Play game instantly by choosing random table.</p>
			<a href="play"><button class="btn button">Play</button></a>
		</div>
		<div class="menu-item col-md-6">
			<p>Go to lobby to choose a table.</p>
			<a href="#lobby" class="btn button">Lobby</a>
		</div>
	</div>
</div>
