<div class="container">
	<div class="page-title">
		<h2>Password recovery</h2>
	</div>

	<div class="form">
		<div class="alert alert-success" id="alert-password-changed">
			<strong>Success!</strong> Your password has been changed.
		</div>
		<div class="alert alert-danger" id="alert-password-mismatch">
			<strong>Error!</strong> Retype password correctly.
		</div>
		<p style="font-size:24px;">Change your password</p>
		<br/>
		<form>
			<input type="password" id="newPassword" placeholder="New password"/>
			<input type="password" id="retypeNewPassword" placeholder="Retype new password"/>
			<input type="submit" id="changePassword" class="btn button" value="OK" style="margin:20px;"/>
		</form>
	</div>
</div>
