<div class="container">
	<div class="page-title">
		<h2>Profile</h2>
	</div>

	<div class="container-fluid menu-item"">
		<div class="alert alert-success" id="alert-password-changed">
			<strong>Success!</strong> Your password has been changed.
		</div>
		<div class="alert alert-info" id="alert-email-changed">
			<strong>Info!</strong> Confirmation e-mail has been sent.
		</div>
		
		<div>
			<td class="profile-type"><a href="#profile"><img src="assets/img/unknown_user.jpg" class="img-circle profile-avatar"></a></td>
			<td><a class="btn button">Change</a></td>
		</div>
		<table style="margin: 0 auto;">
			<tr>
				<td class="profile-type"><span class="glyphicon glyphicon-user"/></td>
				<td class="profile-data">{{ username }}</td>
			</tr>
			<tr>
				<td class="profile-type"><span class="glyphicon glyphicon-envelope"/></td>
				<td class="profile-data">{{ email }}<a data-toggle="modal" data-target="#emailModal"><span class="glyphicon glyphicon-pencil profile-option"/></a></td>

				<div id="emailModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content form">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Change e-mail address</h4>
							</div>
							<div class="modal-body">
								<form method="post" action="/changeEmail">
									<input type="email" placeholder="New e-mail" title="New e-mail" id="newEmail"/>
								</form>
							</div>
							<div class="modal-footer">
								<button class="btn button" data-dismiss="modal">Cancel</button>
								<button class="btn button" data-dismiss="modal" id="email-change">OK</button>
							</div>
						</div>
					</div>
				</div>
			</tr>
			<tr>
				<td class="profile-type"><span class="glyphicon glyphicon-lock"/></td>
				<td class="profile-data" style="line-height:90px;">******<a data-toggle="modal" data-target="#passwordModal"><span class="glyphicon glyphicon-pencil profile-option"/></a></td>

				<div id="passwordModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content form">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Change password</h4>
							</div>
							<div class="modal-body">
								<div class="alert alert-danger" id="alert-wrong-password">
									<strong>Error!</strong> Incorrect password.
								</div>
								<div class="alert alert-danger" id="alert-password-mismatch">
									<strong>Error!</strong> Retype password correctly.
								</div>
								<form>
									<input type="password" placeholder="Old password" title="Old password" id="oldPassword" />
									<input type="password" placeholder="New password" title="New password" id="newPassword"  />
									<input type="password" placeholder="Retype new password" title="Retype new password" id="retypeNewPassword" />
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn button" data-dismiss="modal">Cancel</button>
								<button type="button" class="btn button" id="password-change">OK</button>
							</div>
						</div>
					</div>
				</div>
			</tr>
		</table>
	</div>
</div>
