<div class="container">
	<div class="page-title">
		<h2>Sign up</h2>
	</div>
	<div class="form">
		<form action="/signup" method="post" name="signUpForm">
			<input type="text" placeholder="Login" title="Login" name="login" />
			<input type="password" placeholder="Password" title="Password" name="password"  />
			<input type="email" placeholder="E-mail" title="E-mail" name="email" />
			<input type="submit" value="Sign up" class="btn button" style="margin:10px;"/>
		</form>
	</div>
</div>
