<div class="container" >
	<div class="page-title">
		<h2>Table</h2>
	</div>

	<div class="lobby-container" style="background-color:#D55">
		<svg style="width:1140px; height: 430px;">
			<ellipse cx="570" cy="220" rx="450" ry="120" style="fill:#006400; stroke:gray; stroke-width:3px"/>
			<defs>
				<pattern id="avatar" x="0%" y="0%" height="100%" width="100%" viewBox="0 0 512 512">
					<image x="0%" y="0%" width="512" height="512" xlink:href="assets/img/unknown_user.jpg"/>
				</pattern>
				<pattern id="chips" x="0%" y="0%" height="100%" width="100%" viewBox="0 0 512 512">
					<image x="0%" y="0%" width="512" height="512" xlink:href="assets/img/chips.png"/>
				</pattern>
			</defs>

			<!-- Player #1 -->
			<g ng-if="seat1 != -1">
				<circle cx="995" cy="300" r="50" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
				<text x="1060" y="290">{{ tableplayers[seat1][0] }}</text>
				<text x="1075" y="315">{{ tableplayers[seat1][1] }}</text>
				<circle cx="1065" cy="310" r="10" style="fill:url(#chips);"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(1, 0) }}" x="920" y="180" width="45px" height="70px" transform="rotate(-5 945 180)"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(1, 1) }}" x="935" y="180" width="45px" height="70px" transform="rotate(5 935 180)"/>
				<g>
					<text x="967" y="340" font-size="20px">Check</text>
					<g>
						<image xlink:href="assets/img/cash.png" x="885" y="230" width="35px" height="35px"/>
						<text x="892" y="280" font-size="12px" fill="#FFF">{{ tableplayers[seat1][3] }}</text>
					</g>
				</g>
			</g>
			<g ng-if="seat1 == -1">
				<circle cx="995" cy="300" r="50" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
			</g>
			
			<!-- Player #2 -->
			<g ng-if="seat2 != -1">
				<circle cx="790" cy="350" r="50" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
				<text x="855" y="340">{{ tableplayers[seat2][0] }}</text>
				<text x="870" y="365">{{ tableplayers[seat2][1] }}</text>
				<circle cx="860" cy="360" r="10" style="fill:url(#chips);"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(2, 0) }}" x="815" y="230" width="45px" height="70px" transform="rotate(-5 840 230)"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(2, 1) }}" x="830" y="230" width="45px" height="70px" transform="rotate(5 830 230)"/>
				<g>
					<text x="762" y="390" font-size="20px">Check</text>
					<g>
						<image xlink:href="assets/img/cash.png" x="710" y="275" width="35px" height="35px"/>
						<text x="717" y="325" font-size="12px" fill="#FFF">{{ tableplayers[seat2][3] }}</text>
					</g>
				</g>
			</g>
			<g ng-if="seat2 == -1">
				<circle cx="790" cy="350" r="50" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
			</g>

			<!-- Player #3 -->
			<g ng-if="seat3 != -1">
				<circle cx="570" cy="375" r="50" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
				<text x="635" y="365">{{ tableplayers[seat3][0] }}</text>
				<text x="650" y="390">{{ tableplayers[seat3][1] }}</text>
				<circle cx="640" cy="385" r="10" style="fill:url(#chips);"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(3, 0) }}" x="595" y="265" width="45px" height="70px" transform="rotate(-5 620 265)"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(3, 1) }}" x="610" y="265" width="45px" height="70px" transform="rotate(5 610 265)"/>
				<g>
					<text x="542" y="415" font-size="20px">Check</text>
					<g>
						<image xlink:href="assets/img/cash.png" x="500" y="280" width="35px" height="35px"/>
						<text x="507" y="330" font-size="12px" fill="#FFF">{{ tableplayers[seat3][3] }}</text>
					</g>
				</g>
			</g>
			<g ng-if="seat3 == -1">
				<circle cx="570" cy="375" r="50" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
			</g>

			<!-- Player #4 -->
			<g ng-if="seat4 != -1">
				<circle cx="350" cy="350" r="50" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
				<text x="240" y="340">{{ tableplayers[seat4][0] }}</text>
				<text x="255" y="365">{{ tableplayers[seat4][1] }}</text>
				<circle cx="245" cy="360" r="10" style="fill:url(#chips);"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(4, 0) }}" x="275" y="230" width="45px" height="70px" transform="rotate(-5 300 230)"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(4, 1) }}" x="290" y="230" width="45px" height="70px" transform="rotate(5 290 230)"/>
				<g>
					<text x="322" y="390" font-size="20px">Check</text>
					<g>
						<image xlink:href="assets/img/cash.png" x="400" y="275" width="35px" height="35px"/>
						<text x="407" y="325" font-size="12px" fill="#FFF">{{ tableplayers[seat4][3] }}</text>
					</g>
				</g>
			</g>
			<g ng-if="seat4 == -1">
				<circle cx="350" cy="350" r="50" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
			</g>

			<!-- Player #5 -->
			<g ng-if="seat5 != -1">
				<circle cx="145" cy="300" r="50" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
				<text x="35" y="290">{{ tableplayers[seat5][0] }}</text>
				<text x="50" y="315">{{ tableplayers[seat5][1] }}</text>
				<circle cx="40" cy="310" r="10" style="fill:url(#chips);"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(5, 0) }}" x="160" y="180" width="45px" height="70px" transform="rotate(-5 185 180)"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(5, 1) }}" x="175" y="180" width="45px" height="70px" transform="rotate(5 175 180)"/>
				<g>
					<text x="117" y="340" font-size="20px">Check</text>
					<g>
						<image xlink:href="assets/img/cash.png" x="220" y="240" width="35px" height="35px"/>
						<text x="227" y="290" font-size="12px" fill="#FFF">{{ tableplayers[seat5][3] }}</text>
					</g>
				</g>
			</g>
			<g ng-if="seat5 == -1">
				<circle cx="145" cy="300" r="50" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
			</g>

			<!-- Player #6 -->
			<g ng-if="seat6 != -1">
				<circle cx="230" cy="105" r="50" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
				<text x="120" y="95">{{ tableplayers[seat6][0] }}</text>
				<text x="135" y="120">{{ tableplayers[seat6][1] }}</text>
				<circle cx="125" cy="115" r="10" style="fill:url(#chips);"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(6, 0) }}" x="275" y="130" width="45px" height="70px" transform="rotate(-5 300 130)"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(6, 1) }}" x="290" y="130" width="45px" height="70px" transform="rotate(5 290 130)"/>
				<g>
					<text x="202" y="145" font-size="20px">Check</text>
					<g>
						<image xlink:href="assets/img/cash.png" x="235" y="160" width="35px" height="35px"/>
						<text x="242" y="210" font-size="12px" fill="#FFF">{{ tableplayers[seat6][3] }}</text>
					</g>
				</g>
			</g>
			<g ng-if="seat6 == -1">
				<circle cx="230" cy="105" r="50" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
			</g>

			<!-- Player #7 -->
			<g ng-if="seat7 != -1">
				<circle cx="470" cy="65" r="50" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
				<text x="360" y="55">{{ tableplayers[seat7][0] }}</text>
				<text x="375" y="80">{{ tableplayers[seat7][1] }}</text>
				<circle cx="365" cy="75" r="10" style="fill:url(#chips);"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(7, 0) }}" x="380" y="90" width="45px" height="70px" transform="rotate(-5 405 90)"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(7, 1) }}" x="395" y="90" width="45px" height="70px" transform="rotate(5 395 90)"/>
				<g>
					<text x="442" y="105" font-size="20px">Check</text>
					<g>
						<image xlink:href="assets/img/cash.png" x="500" y="110" width="35px" height="35px"/>
						<text x="507" y="160" font-size="12px" fill="#FFF">{{ tableplayers[seat7][3] }}</text>
					</g>
				</g>
			</g>
			<g ng-if="seat7 == -1">
				<circle cx="470" cy="65" r="50" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
			</g>

			<!-- Player #8 -->
			<g ng-if="seat8 != -1">
				<circle cx="670" cy="65" r="50" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
				<text x="735" y="55">{{ tableplayers[seat8][0] }}</text>
				<text x="750" y="80">{{ tableplayers[seat8][1] }}</text>
				<circle cx="740" cy="75" r="10" style="fill:url(#chips);"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(8, 0) }}" x="695" y="90" width="45px" height="70px" transform="rotate(-5 720 90)"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(8, 1) }}" x="710" y="90" width="45px" height="70px" transform="rotate(5 710 90)"/>
				<g>
					<text x="642" y="105" font-size="20px">Check</text>
					<g>
						<image xlink:href="assets/img/cash.png" x="620" y="110" width="35px" height="35px"/>
						<text x="627" y="160" font-size="12px" fill="#FFF">{{ tableplayers[seat8][3] }}</text>
					</g>
				</g>
			</g>
			<g ng-if="seat8 == -1">
				<circle cx="670" cy="65" r="50" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
			</g>

			<!-- Player #9 -->
			<g ng-if="seat9 != -1">
				<circle cx="910" cy="105" r="50" style="fill:url(#avatar); stroke:gray; stroke-width:3px;"/>
				<text x="975" y="95">{{ tableplayers[seat9][0] }}</text>
				<text x="990" y="120">{{ tableplayers[seat9][1] }}</text>
				<circle cx="980" cy="115" r="10" style="fill:url(#chips);"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(9, 0) }}" x="825" y="130" width="45px" height="70px" transform="rotate(-5 850 130)"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCard(9, 1) }}" x="840" y="130" width="45px" height="70px" transform="rotate(5 840 130)"/>
				<g>
					<text x="882" y="145" font-size="20px">Check</text>
					<g>
						<image xlink:href="assets/img/cash.png" x="790" y="120" width="35px" height="35px"/>
						<text x="797" y="170" font-size="12px" fill="#FFF">{{ tableplayers[seat9][3] }}</text>
					</g>
				</g>
			</g>
			<g ng-if="seat9 == -1">
				<circle cx="910" cy="105" r="50" style="fill:#91ADDC; stroke:gray; stroke-dasharray:15,12; stroke-width:3px;"/>
			</g>

			<!-- Table cards -->
			<image xlink:href="assets/img/cards/back.png" x="350" y="163" width="65px" height="100px"/>
			<g ng-if="tablecards.length >= 3">
				<image xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[0]) }}" x="425" y="163" width="65px" height="100px"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[1]) }}" x="500" y="163" width="65px" height="100px"/>
				<image xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[2]) }}" x="575" y="163" width="65px" height="100px"/>
			</g>
			<image ng-if="tablecards.length >= 4" xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[3]) }}" x="650" y="163" width="65px" height="100px"/>
			<image ng-if="tablecards.length == 5" xlink:href="" ng-attr-xlink:href="{{ getCardUrl(tablecards[4]) }}" x="725" y="163" width="65px" height="100px"/>

			<!-- Pot -->
			<g>
				<image xlink:href="assets/img/pot.png" x="545" y="115" width="32px" height="27px"/>
				<text x="580" y="135" font-size="12px" fill="#FFF">{{pot}}</text>
			</g>
		</svg>
		<br/>

		<a ng-show="currentPlayerId=='true'" id="raise" class="btn button-action" style="margin-left:107px;" data-toggle="popover" data-placement="top" data-html="true" data-content="<form  action='table/{{tableId}}/Raise' method='post'><input type='number'  name='bet'   /><input type='submit' value='OK' class='btn button-action' style='margin:10px; margin-right:0px;' id='popover-close' href='table/{{tableId}}/Raise'/></form>">Raise</a>
		<a class="btn button-action" ng-show="currentPlayerId=='true'" href="table/{{tableId}}/AllIn">All-in</a>
		<a class="btn button-action" ng-show="currentPlayerId=='true'" href="table/{{tableId}}/Check_Call">Call/Check</a>
		<a class="btn button-action" ng-show="currentPlayerId=='true'" href="table/{{tableId}}/Fold">Fold</a>
		<a href="standUp" class="btn button" style="float:right; margin: 10px;">Stand up</a>
	</div>
	<a href="table/{{tableId}}/newHand"><button>Deal new hand</button></a><br/>
	<a href="table/{{tableId}}/nextRound"><button>Next round of betting</button></a><br/>
</div>
